.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 724px) {
  .profile__info {
    width: calc(100vw - 188px);
  }
}

@media (max-width: 435px) {
  .profile__info {
    width: 100%;
    margin-bottom: 36px;
  }
}
