.profile__form-add-button {
  align-self: center;
  justify-self: end;
}

@media (max-width: 724px) {
  .profile__form-add-button {
      grid-column-start: 2;
      grid-column-end: 3;
      align-self: start;
      justify-self: start;
  }
}

@media (max-width: 435px) {
  .profile__form-add-button {
      align-self: center;
  }
}
