.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 51px;
}

@media (max-width: 724px) {
  .profile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 435px) {
  .profile {
    align-items: center;
    margin-bottom: 36px;
  }
}
