.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 934px) {
  .profile {
    margin: 0 calc(27px - (100vw - 100%)/2);
  }
}

@media (max-width: 724px) {
  .profile {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 435px) {
  .profile {
    align-items: center;
  }
}

@media (max-width: 336px) {
  .profile {
    margin: 0 19px;
  }
}
