.main {
  margin: 0 auto;
  margin-bottom: 67px;
  max-width: 880px;
  min-width: 282px;
}

@media (max-width: 918px) {
  .main {
    margin: 0 19px;
    margin-bottom: 67px;
  }
}

@media (max-width: 435px) {
  .main {
    margin-bottom: 48px;
  }
}
