.profile__add-button {
  width: 150px;
  height: 50px;
}

@media (max-width: 724px) {
  .profile__add-button {
    margin-left: 150px;
    width: 202.69px;
  }
}

@media (max-width: 435px) {
  .profile__add-button {
    margin-left: 0;
    width: 282px;
  }
}


