.profile__author {
  margin: 0;
  margin-right: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  order: 1;
}

@media (max-width: 560px) {
  .profile__author {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
  }
}

@media (max-width: 435px) {
  .profile__author {
    margin-right: 10px;
  }
}
