.profile__caption {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 435px) {
  .profile__caption {
    max-width: calc(100vw - 38px);
    margin-bottom: 36px;
    margin: 0 auto;
  }
}
