.element{
  max-height: 367px;
  background-color: #fff;
  border-radius: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
