.logo {
  width: 142px;
  height: 100%;
}


@media (max-width: 934px) {
  .logo {
    margin-left: calc(27px - (100vw - 100%)/2);
  }
}

@media (max-width: 400px) {
  .logo {
    width: 104px;
    height: 100%;
  }
}
