.popup__window {
  width: 430px;
  min-width: 282px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 560px) {
  .popup__window {
    width: calc(100% - 160px);
    height: 322px;
  }
}
