.profile__avatar{
  margin-right: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-image: url(../../../images/avatar.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 435px) {
  .profile__avatar {
    margin-right: 0;
    margin-bottom: 26px;
  }
}
