.element__button-like {
  width: 20.76px;
  height: 18.13px;
  opacity: 1;
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  transition: opacity 0.6s linear;
  align-self: center;
}

.element__button-like:hover {
  opacity: 0.5;
  cursor: pointer;
}
